table {
    border-collapse: collapse;
    width: 500px;
    height: 300px;
    margin-right: 10px
}
td, th {
    color:black;
    border: 2px solid grey;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
}

body {
    background-image: url("136.png");
    background-repeat: repeat;

}
